@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap&family=Puritan&display=swap&family=Inter&display=swap");
body {
  margin: 0;
  font-family: "Roboto", "Open Sans", "sans-serif", "Gill Sans";
  font-style: normal;
  font-size: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
